In [1]:
# number of friends ko add kerna hay dinamically                                         
# kharche ka tile likhker kisne kharcha kiya or kis kis ke beech split kerna hay vo likhna hay 
# agar A ko B and C se 5 - 5 rupay lene hay, and B ko A se 5 rupay lena hay to finally sab kat putke
# A ko kewak C se 5 rupay lena hay wala hisab 

# har user ke andar 2 data aayenge, to take and to give therefore we can use dictionary, dictonary with the name of person

In [13]:
import pandas as pd
n = int(input('Enter the total no of candidates'))
l = []
while n!=0:
    x = input('enter name of each')
    l.append(x)
    n = n-1
df = pd.DataFrame(columns = l,index = l)
df


def main():
    amt = int(input('enter the amout paid'))
    by = input('Person who paid the amount')
    bw = input('Persons between bill will be splited')
    if(bw=='All'):
        df.loc[by] = amt/3
    else:
        s = bw.split(' ')
        for i in s:
            df[i][by] = amt/len(s)
        
    
main()

Enter the total no of candidates3
enter name of eachParn
enter name of eachRaghu
enter name of eachSagar
enter the amout paid36
Person who paid the amountParn
Persons between bill will be splitedAll

In [3]:
# df['parn']['sagar'] = 45
# df
# df.loc['parn']=5


# bw = 'asdf sdf'
# s = bw.split(' ')
# s
# df.iloc[0][df.index[1]]
# df
import pandas as pd
l = ['Parn','Raghu','Sagar']
newdf = pd.read_csv(r'BillSplitter.csv')
df = newdf.set_index([l])

def final(df):
    for i in range(0,len(l)):
        for j in range(0,len(l)):
            if(df.iloc[i][df.index[j]]>df.iloc[j][df.index[i]]):
                print(f'{df.index[i]} have to take{(df.iloc[i][df.index[j]])-(df.iloc[j][df.index[i]])} from {df.index[j]}')
            elif(df.iloc[i][df.index[j]]<df.iloc[j][df.index[i]]):
                print(f'{df.index[j]} have to take{(df.iloc[j][df.index[i]])-(df.iloc[i][df.index[j]])} from {df.index[i]}')
            else:
                print(f'{df.index[i]} is balanced with {df.index[j]}')
final(df)

Parn is balanced with Parn
Raghu have to take2 from Parn
Sagar have to take4 from Parn
Raghu have to take2 from Parn
Raghu is balanced with Raghu
Sagar have to take2 from Raghu
Sagar have to take4 from Parn
Sagar have to take2 from Raghu
Sagar is balanced with Sagar

In [29]:
# l = ['Parn','Raghu','Sagar']
# ndf = pd.DataFrame(columns = l,index = l)
# ndf.to_csv('BillSplitter.csv',index = False)
# k = pd.read_csv(r'BillSplitter.csv')
# t = k.set_index([l])
# k
# k
df.to_csv('BillSplitter.csv',index = False)
# k = 
Raghu have to take2 from Parn
Sagar have to take4 from Parn
Sagar have to take2 from Raghu

       Parn  Raghu  Sagar
Parn   12.0   12.0   12.0
Raghu   NaN    NaN    NaN
Sagar   NaN    NaN    NaN

In [15]:
l

['Parn', 'Raghu', 'Sagar']

In [30]:
for i in range(0,len(l)):
        for j in range(0,len(l)):
            if(df.iloc[i][df.index[j]]>df.iloc[j][df.index[i]]):
                print(f'{df.index[i]} have to take{(df.iloc[i][df.index[j]])-(df.iloc[j][df.index[i]])} from {df.index[j]}')
            elif(df.iloc[i][df.index[j]]<df.iloc[j][df.index[i]]):
                print(f'{df.index[j]} have to take{(df.iloc[j][df.index[i]])-(df.iloc[i][df.index[j]])} from {df.index[i]}')
            else:
                print(f'{df.index[i]} is balanced with {df.index[j]}')

Parn is balanced with Parn
Parn is balanced with Raghu
Parn is balanced with Sagar
Raghu is balanced with Parn
Raghu is balanced with Raghu
Raghu is balanced with Sagar
Sagar is balanced with Parn
Sagar is balanced with Raghu
Sagar is balanced with Sagar

In [27]:
df

       Parn  Raghu  Sagar
Parn   12.0   12.0   12.0
Raghu   NaN    NaN    NaN
Sagar   NaN    NaN    NaN