In [1]:
import pandas as pd
import numpy as np

In [2]:
n = int(input('enter the total no of users'))
l = []
while n!=0:
    name = input('Enter name of users')
    l.append(name)
    n = n-1

l2 = list(range(len(l)))
data = pd.DataFrame(columns = l, index = l)
data.replace({np.NaN:0},inplace = True)
data
l



try:
    k = pd.read_csv(r'userData.csv')
except:
    df.to_csv('userData.csv',index = False)
    k = pd.read_csv(r'userData.csv')

enter the total no of users3
Enter name of usersra
Enter name of userspa
Enter name of userssa

['ra', 'pa', 'sa']

In [ ]:
### def datainput(l):
# n =int(input('Enter the amount'))
flag = True

while flag:
    flag2 = True
    n =int(input('Enter the amount'))
    paidby = input('person who paid')
    if(paidby not in l):
        print('Enter the correct name')
        continue
    while flag2:
        names = input('bill to be splited between space seperated names')
        names1 = names.split(' ')
        if all(x in l for x in names1):
            flag2 = False
        else:
            print('incorrect names')
            continue
        nl = names.split(' ')
    shares = n/len(names1)
    for i in names1:
        data.loc[i,paidby] = data.loc[i,paidby] + shares
        data.loc[paidby,i] = data.loc[paidby,i] - shares
    more = input('do you want to add more payments type "yes" or "no"')
    if(more=='yes'):
        continue
    else:
        if (data != 0).any().any():
            for i in names1:
                for j in names1:
                    if data.loc[i, j] > 0:
                        print(f'{j} have to take {data.loc[i, j]} from {i}')
        else:
            print("Everything is clear!")
        flag = False
print(nl)

In [4]:
data
n/len(names)

1.5

In [8]:
data

    ra  pa  sa
ra   0  -4  -4
pa   4   0   0
sa   4   0   0

In [12]:
(data!=0).any().any()

True